{% set linkClass = 'menu-button' %}
{% if mobile %}{% set linkClass = linkClass + ' mobile-menu-link' %}{% endif %}
{% set languagePrefix = '/fr' if lang == 'fr' else '' %}
{% set links = [
    { 'path': languagePrefix + '/', 'key': 'home', 'layout': 'home' },
    { 'path': languagePrefix + '/projects/', 'key': 'projects', 'layout': 'projects' },
    { 'path': languagePrefix + '/posts/', 'key': 'posts', 'layout': 'posts' }
] %}
{% for link in links %}
<a href="{{ link.path }}" class="{{ linkClass }} {% if layout == link.layout or (link.layout == 'posts' and layout == 'post') %}active{% endif %}" aria-label="{{ i18n[lang].nav[link.key] }}">
    <span class="bookmark-label">{{ i18n[lang].nav[link.key] }}</span>
</a>
{% endfor %}