/* Général */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

body{
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgb(23, 105, 85), rgb(32, 41, 82));
}

*{
  font-family: 'Montserrat', sans-serif;
  -webkit-user-select: none;
    user-select: none;
}

h1{
  font-size: 0px;
}

/* Game section */

#game{
  height:93%;
  width: 100%;
  
  display: flex;
  align-items: center;
  flex-direction: column;

  overflow-y: auto;
}

#game::-webkit-scrollbar {
  width: 0.5em;
}
 
#game::-webkit-scrollbar-track {
  background: rgba(32, 41, 82, 0.7);
}
 
#game::-webkit-scrollbar-thumb {
  background-color: rgba(23, 105, 85, 0.7);
}

#game::-webkit-scrollbar-thumb:hover {
  background-color: rgba(53, 255, 205, 0.4);
}

/* Panels */

.panel{
  height: auto;
  text-align: center;
  
  width: 725px;
  border-radius: 10px;

  margin: 5px;
  padding: 10px;

  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  background: linear-gradient(160deg,rgba(255, 255, 255, 0.65), rgba(146, 146, 146,0.65));

}

/* Begin Panel */

.begin-panel {
  margin: auto;
}

.begin-panel button{
  border-radius: 10px;
  margin: 5px;
  margin-top: 10px;
  padding: 10px;

  border: solid black 0px;
  box-shadow: rgba(0, 0, 0, 0.507) 0px 0px 5px;
  background-color: rgba(240, 248, 255, 0.5);
  transition: background-color 0.35s, box-shadow 0.35s;
}

.begin-panel button:hover{
  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0.507) 0px 0px 7px;
  background-color: rgba(43, 255, 0, 0.5);
}

.logo{
  width: 100%;
}

.tuto{
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  margin-left: 350px;
  margin-right: 350px;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 0px 0px 2px;
}

.gras{
  font-weight: 900;
}

.underline{
  text-decoration: underline;
}

/* End panel */

.end-panel button{
  border-radius: 10px;
  margin: 5px;
  padding: 10px;

  border: solid black 0px;
  box-shadow: rgba(0, 0, 0, 0.507) 0px 0px 5px;
  background-color: rgba(240, 248, 255, 0.5);
  transition: background-color 0.35s, box-shadow 0.35s;
}

.end-panel button:hover{
  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0.507) 0px 0px 7px;
  background-color: rgba(43, 255, 0, 0.5);
}

.epic{
  font-size: 1.5em;
  font-weight: 900;
  color: red;
}

.win img{
  width: 30%;
  border-radius: 20px;
  margin: 10px;
}

.lose img{
  width: 50%;
  border-radius: 20px;
  margin: 10px;
}

#score{
  color: rgb(255, 225, 0);
  text-shadow: rgb(255, 183, 0) 0px 0px 3px;
  font-weight: 900;
}

/* Game panels */

.game-panel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number{
  font-weight: 500;
  font-size: 2em;
  margin-right: 24%;
}

.invisible{
  font-size: 1em;
  font-size: 2em;
  color: rgba(0, 0, 0, 0);
  margin-left: 24%;
}

.ui{
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 0px 0px 2px;
}

.present{
  background-color: rgba(253, 255, 106, 0.767);
}

.perfect{
  background-color: rgba(247, 123, 123, 0.767);
}

.colors{
  display: flex;
}

.colors .color{
  border-radius: 100%;

  height: 30px;
  width: 30px;
  margin: 4px;

  font-size: 0px;
}

.selected{
  box-shadow: rgb(255, 255, 255) 0px 0px 5px;
}

/* Chooser section */

#chooser{
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: rgb(0, 0, 0) 0px 0px 2px;
  background-color: rgba(211, 211, 211, 0.349);

  height: 7%;
  width: 100%; 
}

#chooser button{
  border-radius: 100%;

  height: 30px;
  width: 30px;
  margin: 4px;

  font-size: 0px;
}

#chooser div{
  margin: 20px;
}

.color{
  border: solid black 0px;
  box-shadow: rgba(0, 0, 0, 0.507) 0px 0px 5px;
  transition: box-shadow 0.35s;
}

#chooser .color:hover{
  cursor: pointer;
  box-shadow: rgb(255, 255, 255) 0px 0px 5px;
}

.red{
  background-color: red;
}

.orange{
  background-color: orange;
}

.yellow{
  background-color: yellow;
}

.pink{
  background-color: rgb(255, 116, 139);
}

.blue{
  background-color: rgb(30, 135, 255);
}

.green{
  background-color: rgb(35, 221, 35);
}

.gray{
  background-color: rgb(117, 117, 117);
}

.white{
  background-color: rgb(255, 255, 255);
}

#choose-btn-return{
  background-image: url("../images/rem4.png");
  background-repeat: no-repeat;
  background-size:contain;

  border: solid black 0px;
  box-shadow: rgba(0, 0, 0, 0.507) 0px 0px 5px;
  transition: box-shadow 0.35s;
}

#choose-btn-return:hover{
  cursor: pointer;
  box-shadow: rgb(255, 0, 0) 0px 0px 5px 2px;
}

#choose-btn-enter{
  background-image: url("../images/ent.png");
  background-repeat: no-repeat;
  background-size:contain;

  border: solid black 0px;
  box-shadow: rgba(0, 0, 0, 0.507) 0px 0px 5px;
  transition: box-shadow 0.35s;
}

#choose-btn-enter:hover{
  cursor: pointer;
  box-shadow: rgb(0, 255, 21) 0px 0px 5px 2px;
}
