/* Uniqueness */

*{
  text-align: left;
}

/* News */

h1{
  padding-top: 15px;
  font-size: 2.5em;
  margin-top: -5px;
  margin-bottom: 0px;
  text-align: center;
}

img{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 91%;
  border-radius: 10px;
}

.post{
  text-align: center;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 10px;

  background-color: var(--game-gallery);
  box-shadow: 0px 0px 0px black inset;
  border-radius: 5px;
  transition: background-color 0.5s;

  padding: 1px;
}

/* Responsive */


@media screen and (max-width: 735px) and (min-width:500px){
  main{  
    border-radius: 0px; 

    padding: 0px;
    padding-bottom: 10px;
    
    width: 100vw;
    height: auto;

    margin-top: 0px;
    margin-bottom: 0px;
  }

  .top-bg{
    border-radius: 0px;
  }

  #languages-dropdown div{
    height: 50px;
    font-size: 1.5em;
  }

  .news{
    padding: 5px;
  }

  img{
    border-radius: 0%;
    width: 100%;
  }

  .post{
    text-align: center;
    
    border-radius: 0%;
    width: 100%;

    transition: background-color 0.5s;

    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;

    padding: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
  }

}

@media screen and (max-width: 500px) {
  main{  
    border-radius: 0px; 

    padding: 0px;
    padding-bottom: 10px;
    
    width: 100vw;
    height: auto;

    margin-top: 0px;
    margin-bottom: 0px;
  }

  .top-bg{
    border-radius: 0px;
  }

  #languages-dropdown div{
    height: 50px;
    font-size: 1.5em;
  }

  .news{
    padding: 5px;
  }

  img{
    border-radius: 0%;
    width: 100%;
  }

  .post{
    text-align: center;
    
    border-radius: 0%;
    width: 100%;
    
    transition: background-color 0.5s;

    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;

    padding: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
  }

}