/* Google import */

@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');

/* Mise en forme */

*{
  font-family: 'Mukta', sans-serif;
}

body{
  margin: 0px;
  
  transition: background-color 0.5s;
  /* Light Mode */
  background-color: rgb(202, 202, 202);
}

main{
  text-align: center;
  background-color: rgb(243, 241, 239);
  box-shadow: 0px 0px 7px 1px gray;

  border-radius: 5px 5px 5px 5px;
  
  
  padding: 5px;
  width: 725px;
  height: auto;

  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;

  transition: background-color 0.5s;
  /* Light Mode */
}

.top-bg{
  border-radius: 5px 5px 5px 5px;
  height: 20vh;
  background: linear-gradient(300deg, rgb(255, 94, 0), rgb(228, 153, 41)) ;
}

.top-buttons{
  display: flex;
  align-items: end;
  flex-direction: column;
}
.top-buttons button{
  font-size: 0;
  
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px black;
  border: none;
  width: 50px;
  height: 50px;
  
  margin: 5px;
  margin-bottom: 0px;

  transition: background-color 0.2s;
  /* Light Mode */
  background-color: rgba(255, 255, 255, 0.7) ;
}

.top-buttons button:hover{
  background-color: rgba(212, 208, 204, 0.7);
}

.top-buttons button:active{
  background-color: rgba(255, 255, 255, 0.8);
}

.profile_pic{
  border-radius: 100%;
  width: 25%;
  margin-top: -11vh;
  border: solid rgb(243, 241, 239) 5px;
}

h1{
  font-size: 2.5em;
  margin-top: -5px;
  margin-bottom: 0px;
}