/* Polices */

@font-face{
	font-family:"Beeg";
	src: url(./font/LEMONMILK-Medium.otf) format("truetype");
}

/* Bannière - Header */

header{
	text-align: center;
	background-size: 100% auto;
	margin-bottom: 5px;
	border-radius: 5px 5px 5px 5px;
	overflow: hidden;
	background-image: url("../images/bannerweb2.png");
	background-repeat: repeat;
	background-attachment: fixed;
}

header img{
  	margin-top: 25px;
  	margin-bottom: -25px;
	width: 125px;
	height: 125px;
}

header h1{
	text-decoration: none;
	font-size: 4em;
	font-family: "beeg";
	text-align: center;
	color: white;
	text-shadow: 1px 1px 2px black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1%;
}

	/* Navbar */

	.navbar{
		width: 100%;
		display: inline-flex;
		background-color: #333;
	}

	.navbar ul {
		margin: auto;
	  	list-style-type: none;
		margin-left: auto;
		margin-right: auto;
	  	padding: 0;
	  	overflow: hidden;
	}

	.navbar li {
		display: inline-block;
		text-align: center;
		font-family: "beeg";
		text-shadow: 1px 1px 2px black;

	}

	.navbar li a, .dropbtn {
		background-color: #A2A2A2;
		display: block;
	  	color: white;
	  	text-align: center;
	  	padding: 14px 16px;
	  	text-decoration: none;
	  	border: 2px solid black;
	  	transition: background-color 0.25s;
	}

	.navbar li a:hover, .dropdown:hover .dropbtn {
	  	background-color: orange;
	}

	.navbar li.dropdown {
	  display: inline-block;
	}

	.navbar .dropdown-content {
		display: none;
	  	position: absolute;
	  	background-color: #f9f9f9;
	  	min-width: 160px;
	  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  	z-index: 1;
	}

	.navbar .dropdown-content a {
	  	color: white;
	  	padding: 12px 12px;
	  	text-decoration: none;
	  	display: block;
	  	text-align: left;
	  	margin-top: -2px;
	}

	.navbar .dropdown-content a:hover {background-color: orange; color: white;}

	.navbar .dropdown:hover .dropdown-content {
	  	display: block;
	}

	#navigation{
		margin-left: auto;
		margin-right: auto;
	}

	#lang{
		box-align: right;
		margin-left: 0%;
		margin-right: 5px;
	}

	#space{
		box-align: left;
		margin-left: 5px;
		margin-right: 0%;
		background-color: yellow;
		display: block;
	  	color: white;
	  	text-align: center;
	  	padding: 22px 60px;
	  	text-decoration: none;
	  	border: 2px solid black;
	  	opacity: 0%;
	}

	#lang .dropdown-content{
		margin-left: -32px;
	}

	#lang .dropdown-content a{
	  	color: white;
	  	padding: 6px 12px;
	  	text-decoration: none;
	  	display: block;
	  	text-align: right;
	}

	.active a{
		background-color: orange;
		color: white;
	}

	/* French specific values */
	
	.french #space{
		padding: 22px 48px;
	}

	.french #lang .dropdown-content{
		margin-left: -55px;
	}

/* Main Page */
