/* Posts Grid */

.post-grid {
    display: grid;
    margin: 20px auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
}

.post {
    padding: 0.5em 1.5em;
    gap: 0.5em;
    text-decoration: none;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--menu);
    transition: transform 0.3s ease, box-shadow 0.3s ease
}

.post:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-hover);
}

.top-buttons {
    display: flex;
    justify-content: start;
    margin-top: 20px;
}

.top-buttons a {
    padding: 0.5em 1em;
    border: var(--border);
    border-radius: var(--border-radius);
    background-color: var(--menu);
    text-decoration: none;
    color: var(--text);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.top-buttons a:hover {
    background-color: var(--accent-simple);
    color: var(--text-on-accent);
}

@media screen and (max-width: 830px) {
    .post-grid {
        grid-template-columns: 1fr;
        margin: 10px;
    }

    .top-buttons {
        margin: 10px;
    }
}