article{
    margin: 2em;
}

h2 {
    font-size: 2.5em;
    margin: 0px auto;
    line-height: 1.3em;
}

.meta {
    font-size: 0.9em;
    color: var(--text-secondary);
    margin-bottom: 2em;
    margin-top: 1em;
}

img {
    max-width: 100%;
    border-radius: var(--border-radius);
    margin: 1em auto;
    display: block;
    cursor: pointer;
}

/* Responsive */

@media screen and (max-width: 890px) and (min-width: 500px) {
    h2{
        font-size: 2em;
    }
}

@media screen and (max-width: 500px) {
    h2{
        font-size: 1.9em;
    }
}