---
layout: default
---
<section class="top-buttons">
    <a href="{% if page.lang == 'fr' %}/fr{% endif %}/feed.xml" target="_blank"
        rel="noopener noreferrer">{{ site.data.locales[page.lang].subscribe }}</a>
</section>

<section class="post-grid">
    {% for post in site.posts %}
    {% if post.lang == page.lang %}
    <a href="{{ post.url }}" class="post">
        <h3>{{ post.title }}</h3>
        {% include localized-date.html date=post.date lang=page.lang %}
        <p>{{ post.summary }}</p>
    </a>
    {% endif %}
    {% endfor %}

</section>
{{ content }}