---
layout: default
---

<div class="projects-container">
    {% for project in page.projects %}
    <div class="project">
        <img src="{{ project.icon }}" alt="{{ project.name }} icon" class="project-image">
        <div>
            <h2>{{ project.name }}</h2>
            <p>{{ project.description | newline_to_br | markdownify | strip_newlines }}</p>
            <div class="project-links">
                {% if project.links %}
                {% for link in project.links %}
                <a href="{{ link.url }}" class="project-link" target="_blank">
                    {{ link.caption }}
                </a>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>